.venv/
__pycache__/
*.pyc
.DS_Store
runs/
dataset/
# Ignore raw datasets and zip archives
*.zip
combined_dataset/
temp/
runs/
*.crdownload

# Ignore Python cache
__pycache__/
*.pyc

# Ignore OS files
.DS_Store
detection_results/
1.jpg
2.jpg
3.mp4
